<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yyy.fingerprint">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    //访问GMail账户列表
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    //读写联系人，读权限
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--获取当前activity-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- //监听系统开机广播限权 -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/e_lock"
        android:label="e-Lock"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">

        </activity>

        <activity
            android:name=".FolderManageActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar">

            </activity>
        <activity
            android:name=".PersonalDataActivity"
            android:label="@string/title_activity_gerenziliao" />
        <activity android:name=".ClientSettingActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".HelpActivity" />

        <service android:name=".RequestService.BootService" />
        <!-- 静态注册广播接收器可以让程序在未启动的情况下就能接收广播 -->
        <receiver android:name=".RequestService.BootBroadcastReceiver">
            <intent-filter>
                <!--在AndroidManifest.xml中注册广播接收器，并设置action为android.intent.action.BOOT_COMPLETED，这样项目就能监听开机事件。-->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>